{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div style="background-image: linear-gradient(white, black);height:500px">
    <h2 align="center"> About </h2>
    <p align="center" style="margin-top:40px;font-size:20px;font-weight:700">
    Hello there,<br>
    My name is Anubhav Mishra.I am currently pursuing B.Tech from IIIT Jabalpur.<br>
    I am passionate about programming and creating new and interesting things with<br>
    with the skills I have.You can check out some of my projects under Projects tab.<br>
    Besides programming I like to spend my time drawing and playing sport (mainly <br>
    cricket,swimming,tennis and table tennis).<br>
    And last thing, I fully commit myself to work on a project I care about and finish it.<br>
    That's why I don't have unfinished projects.

    <p>
</div>



{% endblock body %}