{% extends 'base.html' %}

{% block title %}

Home

{% endblock title %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img1.jpg" class="d-block w-100" alt="laptop">
      <div class="carousel-caption d-none d-md-block">
        <p style="margin-bottom:540px;padding-y:0px">This is a simple and minimalist site,<br>used as a portfolio to showcase my achievements and projects.</p>
      </div>
      <div class="container position-absolute bottom-0 start-0 text-white" >
        <h8 style="padding-left:10px">Contact:</h8>  
          <p style="padding-left:10px;font-size:11px">
            gmail: anubhavm96@gmail.com <br>
            Linkedin : <a href="https://www.linkedin.com/in/anubhav-mishra-1837a7156/">click</a>
          </p>
        <footer align="center" style="margin-left:50px;margin-bottom:0px;padding-bottom:0px"><span>&#169; copyright</span></footer>
      </div>
    </div>
  </div>
</div>
{% endblock body %}