{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}

{% block body %}


<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!--first project-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/firstproject.png" width="300" height="300"></img>
            <div class="card-body">
              <p class="card-text">This is a simple background flipper website made with html,
              css and js.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://baseapp-1-2.herokuapp.com/" class="btn btn-sm btn-outline-secondary">Open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--second project-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/secondproject.png" width="300" height="300"></img>
            <div class="card-body">
              <p class="card-text">This is a review feature app made with html,css and javascript</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://reviews-app1.herokuapp.com/" class="btn btn-sm btn-outline-secondary">Open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--third project-->
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/thirdproject.png" width="300" height="300"></img>
            <div class="card-body">
              <p class="card-text">This is a hospital manager app made in c++ using the concepts of OOP</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://github.com/Anubhav495/Hospital-management-system/tree/main" class="btn btn-sm btn-outline-secondary">Open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock body %}