{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}

{% block body %}


<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/firstproject.png" width="300" height="300"></img>
            <div class="card-body">
              <p class="card-text">This is a simple background color flipper website made with javascript.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://baseapp-1-2.herokuapp.com/" class="btn btn-sm btn-outline-secondary">Open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>


{% endblock body %}